body{
    font-family: 'Londrina Solid', cursive; background-color: black; color:lavender;font-size: 15px;
}
h1{
    color:lightcoral; font-size: 25px;
}
.header{
    color:white; text-align: center; margin: 44px; padding: 11px; background-color:darkolivegreen;
}
.cherry{
    color:white; text-align: center; margin: 44px; padding: 11px; background-color:darkolivegreen;
}