body{
    font-family: 'Roboto Mono', monospace;;background-color: black; color:lavender;font-size: 15px;
}
h1{
    font-size: 44px;}
h2{
    font-size: 33px; margin: 5px 5px;
}
p{
    font-size: 22px; margin: 5px 5px;
}
a{
    font-size: 15px;color:white; margin-top:20px;
}
.header{
    color:white; text-align: center; margin: 44px; padding: 11px; background-color:#6d1f16; border-radius: 10px;height:69px;
}


/*the boxes*/
.s{
    color:white; text-align: center; margin: 44px; padding: 20px; background-color:#763418;border-radius: 11px; width:55%; display:block;margin-left: auto;margin-right: auto; }

.a{
    color:white; text-align: center; margin: 44px; padding: 20px; background-color:#8d551a;border-radius: 11px;width:55%; display:block;margin-left: auto;margin-right: auto; }

.b{
     color:white; text-align: center; margin: 44px; padding: 20px; background-color:#8f6b1e;border-radius: 11px;width:55%; display:block;margin-left: auto;margin-right: auto; }

.image{
    margin-bottom:20px;margin-top:20px;display: block; margin-left: auto;margin-right: auto;width: 50%; width:33%;border-radius: 11px;}
#img{
    margin-bottom:20px;margin-top:20px;display: block; margin-left: auto;margin-right: auto;width: 50%; width:33%; border-radius: 11px;}